[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_ssh_user={{ openshift.os_user }}
ansible_become=true

openshift_deployment_type=origin

openshift_additional_repos=[{'id': 'centos-okd-ci', 'name': 'centos-okd-ci', 'baseurl' :'https://rpms.svc.ci.openshift.org/openshift-origin-v3.11', 'gpgcheck' :'0', 'enabled' :'1'}]

openshift_disable_check=memory_availability,disk_availability,docker_image_availability
openshift_enable_unsupported_configurations=true
openshift_override_hostname_check=true

openshift_release="3.11"

os_sdn_network_plugin_name='redhat/openshift-ovs-networkpolicy'

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]

openshift_master_htpasswd_users={'admin': '$apr1$xIIiRgPb$wt/TcaVXlmuhi72AOuwJN1', 'dev1': '$apr1$xIIiRgPb$wt/TcaVXlmuhi72AOuwJN1', 'dev2': '$apr1$xIIiRgPb$wt/TcaVXlmuhi72AOuwJN1', 'dev3': '$apr1$xIIiRgPb$wt/TcaVXlmuhi72AOuwJN1', 'dev4': '$apr1$xIIiRgPb$wt/TcaVXlmuhi72AOuwJN1'}

openshift_master_cluster_hostname=master-private-lb.openshift.local
openshift_master_cluster_public_hostname={{ openshift.admin_domain }}
openshift_master_default_subdomain={{ openshift.router_domain }}

openshift_metrics_install_metrics=true

openshift_logging_install_logging=true
openshift_logging_es_nodeselector={"node-role.kubernetes.io/infra":"true"}

openshift_enable_service_catalog=true
template_service_broker_install=true
ansible_service_broker_install=false

#openshift_node_kubelet_args={'pods-per-core': ['50'], 'max-pods': ['1000'], 'image-gc-high-threshold': ['85'], 'image-gc-low-threshold': ['80']}

openshift_clock_enabled=true

[masters]
master[1:{{ openshift.master_nodes | length }}].openshift.local

[etcd]
master[1:{{ openshift.master_nodes | length }}].openshift.local

[nodes]
master[1:{{ openshift.master_nodes | length }}].openshift.local openshift_node_group_name='node-config-master'
infra[1:{{ openshift.infra_nodes | length }}].openshift.local openshift_node_group_name='node-config-infra'
app[1:{{ openshift.app_nodes | length }}].openshift.local openshift_node_group_name='node-config-compute'
